body {
    /* background-color: #6ad; */
}

tr.program {
    font-size: larger;
}

.middle-btn {
    width: 90px;
    margin-bottom: 10px;
}

tr.program td > div {
    /* display: inline-block; */
    line-height: 40px;
}
tr.program td > div .glyphicon {
    line-height: inherit;
}
.table-bordered tbody tr.program {
    padding: 0;
}
.table-bordered tbody tr.program td {
    padding: 0;
}
tr.program .del-mark {
    width: 24px;
    line-height: 37px;
    text-align: center;
    color: #f00;
    cursor: pointer;
    float: left;

    overflow: visible!important;
    /* ↑jQueryでアニメーションするとき、
    overflow:hideenが設定され、レイアウトが崩れるのを回避する
     */
}
tr.program .pg-title {
    padding-left: 4px;
    float: left;
}
tr.program .pg-title input {
    margin-left: -3px;
    padding-left: 2px;
    border: 1px solid #faa;
    background-color: #fee;
    line-height: 1.2em;
}
tr.program .row-control {
    text-align: right;
}
tr.program .row-control .row-del {
    width: 48px;
    text-align: center;
    display: none;
    color: #fff;
    background-color: #f00;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    float: left;
}
.sort-handle {
    width: 24px;
    text-align: center;
    line-height: 37px;
    cursor: grab;
    cursor: -webkit-grab;
    float: left;
}
.size-dial {
    float: left;
    margin-right: 8px;
}
.size-dial div.size-up,
.size-dial div.size-down {
    display: block;
    line-height: 19px;
    font-size: 0.7em;
}
